<%= form_with url: '/', method: :get do |f| %>
  <%= f.label :query, "Search For" %>
  <%= f.text_field :query, value: @query %>
  <%= f.submit "Search" %>
<% end %>

<br>
<br>

<% if @query.present? %>
  <h2> You searched for "<%= @query %>" </h2>
<% end %>

<table>
  <thead>
    <th> ID </th>
    <th> Title </th>
    <th> Score </th>
  </thead>
  <tbody>
    <% @results&.each do |result| %>
      <% attributes = result["attributes"] %>
      <tr>
        <td><%= attributes["id"] %></td>
        <td><%= attributes["title"] %></td>
        <td><%= attributes["_score"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
